.main{
    display: flex;
    height: 100vh;
}



.shop{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: scroll;
    flex: 1;
    padding: 20px;
}

.box{
    height: 500px;
    width: 400px;
    overflow: scroll;
    padding: 25px;
}

.artist{
    display: flex;
    justify-content: space-between;
}

.service{
    display: flex;
    justify-content: space-between;
}

.offer{
    display: flex;
    justify-content: space-between;
}

.artists{
    width: 100%;
}

.artists h2{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.artists h3{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.services h2{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.services h3{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.offers h2{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.offers h3{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}



.shop>div{
    padding-top: 20px;
    height: fit-content;
    border-radius: 15px;
}

.photos{
    height: fit-content;
}

.images{
    min-height: 200px;
    width: 600px;
    display: flex;
    gap: 1rem;
    padding: 20px;
    flex-wrap: wrap;
}


.photo img{
    height: 100px;
    margin-bottom: 1rem;
}

.brocher{
    width: 500px;
    height: fit-content;
}

.brocherImage{
    display: flex;
    gap: 10px;
    padding: 1rem;
    flex-wrap: wrap;
    height: fit-content;
}

.brocher img{
    width: 100px;
    height: 100%;
}

/* model is open disable background */

.modal {
    display: flex;
    

    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modalContent {
    height: 100%;
    border: 5px solid white;
    object-fit: contain;
}

.prev{
    position: fixed;
    top: 50%;
    left: 0;
    color: rgb(0, 0, 0);
    font-size: 30px;
    cursor: pointer;
    padding: 16px;
    margin-top: -50px;

}

.next{
    position: fixed;
    top: 50%;
    right: 0;
    color: rgb(0, 0, 0);
    font-size: 30px;
    cursor: pointer;
    padding: 16px;
    margin-top: -50px;
}



.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}


.serviceButton button{
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}